<% if @interestings %>
<h1><%=@interestings.title%></h1>
<h1><%=@interestings.summary%></h1>
<hr />
<%convertPageText(@interestings.text).each do |interesting|%>
    <%=interesting%><br/>
  <% end %>
<% end %>
